@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, .site-page {
  min-height: 80vh;
}

body {
  display: flex;
  flex-direction: column;
}

.expand {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.hidden {
  display: none;
}

/* Buttons are used instead of non-href <a> tags for keyboard accessiblity */
button {
  background: none;
  border: none;
  color: #4a86e8;
  cursor: pointer;
  text-align: left;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@media only screen and (min-width: 900px) {
  #burger-menu, .bm-burger-button {
    display: none;
  }
}

@media only screen and (max-width: 899px) {
  .sidebar {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, a, textarea {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.align-right {
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  cursor: pointer;
  color: #4a86e8;
}

.active-link {
  font-weight: 900;
}
